services:
  db:
    image: postgres:15
    container_name: pg-demo
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}", "-d", "${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  pgadmin:
    image: dpage/pgadmin4:9
    environment:
      - PGADMIN_DEFAULT_EMAIL=${ADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${ADMIN_PASSWORD}
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  
  redis:
    image: redis:7-alpine
    container_name: redis-demo
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "PING" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    
  api:
    build:
      context: ..
      dockerfile: Docker/Dockerfile          
    container_name: french-revolution-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=5050
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=local_db;Username=${DB_USER};Password=${DB_PASSWORD}
      - ConnectionStrings__Redis=redis:6379
      - Mediator__LicenseKey={MEDIATOR_LICENSE}
      - Admin__Email=${ADMIN_EMAIL}            
      - Admin__Password=${ADMIN_PASSWORD}
      - Jwt__Issuer=http://localhost:5050
      - Jwt__Audience=http://localhost:5050
      - Jwt__ExpireInMinutes=2
      - Jwt__SecretKey=${JWT_SECRET}
    ports:
      - "5050:5050"
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  pgdata:
  pgadmin-data:
