apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
  labels:
    app: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: postgresdb
          image: postgres:15
          ports:
            - containerPort: 5432
          env: 
          - name: POSTGRES_DB
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: DB_NAME
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: DB_USER  
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: DB_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: db-service
spec:
  ports:
    - protocol: TCP 
      port: 5432
      targetPort: 5432
  selector:
    app: db



      