name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Build
        run: |
          dotnet build src/FrenchRevolution.Application/FrenchRevolution.Application.csproj \
            -f net10.0 \
            --configuration Release